<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>This is the user list</h1>
    <p>There is a total of <strong>{{listlen}}</strong> users in the list</p>
    <ol>
    {% for user in userlist %}
            <li><img src="https://avatars.dicebear.com/api/bottts/{{user["user_id"]}}.svg" 
                alt="someAvatar" style="width:50px">{{ user["first_name"] }} {{ user["last_name"] }}</li>
    {% endfor %}
    </ol>
</body>
</html>